<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/g.r.i.d.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/prism.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.min.css" type="text/css" />
</head>
<body>
<header id="header">
    <div class="grid">
        <div class="g12">
            <section class="nav">
                <div class="logo">
                    <h1 class="fa fa-database">JSONDB<sub>PHP Edition</sub></h1>
                </div>
                <nav class="menu">
                    <ul class="hide(phone) hide(tablet)">
                        <li class="{% if page.menu == "home" %}current{% endif %} fa fa-home"><a href="{{ site.github.url }}/">Home</a></li>
                        <li class="{% if page.menu == "blog" %}current{% endif %} fa fa-comments"><a href="{{ site.github.url }}/blog">Blog</a></li>
                        <li class="{% if page.menu == "manual" %}current{% endif %} fa fa-question-circle"><a href="{{ site.github.url }}/docs/manual">Manual</a></li>
                        <li class="{% if page.menu == "api" %}current{% endif %} fa fa-code"><a href="{{ site.github.url }}/docs/api">API</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</header>
