---
layout: default
---
<section id="main">
    <div class="grid">
        <div class="g12">
            <section class="blog post">
                <header>
                    <h2>{{ page.title }}</h2>
                    <span class="meta">{{ page.date | date_to_string }}</span>
                </header>
                <article class="box">
                    <div class="content">
                        {{ content }}
                    </div>
                </article>
            </section>
            <section class="blog comments">
                <header>
                    <h3>Comments</h3>
                </header>
                <div id="disqus_thread"></div>
                <script>
                     var disqus_config = function () {
                     this.page.url = "{{ site.github.url }}/{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//jsondb-php.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </section>
        </div>
    </div>
</section>