---
layout: default
---
<section id="main">
    <div class="grid">
        <div class="g12">
            <section class="blog post">
                <header>
                    <h2>{{ page.title }}</h2>
                    <span class="meta">{{ page.date | date_to_string }}</span>
                </header>
                <article class="box">
                    <div class="content">
                        {{ content }}
                    </div>
                </article>
            </section>
        </div>
    </div>
</section>